﻿@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User Login</h1>
<hr />
@if (ViewBag.message != null)
{
    <div class="alert alert-danger" role="alert">
        <p>@ViewBag.message</p>
    </div>
}
<div class="row">

    <div class="col-md-4">
        <form asp-action="Login" method="post">
            <div class="form-group">
                <label class="control-label">Username</label>
                <input class="form-control" name="username" id="username" required type="text" />
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input type="password" name="password" id="username" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <p>Don't have an account?...<a asp-action="Create">Register</a></p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
